# Python
__pycache__/
*.py[cod]
*.pyd
*.so
.Python

# Virtual environments
venv/
.venv/
env/
.env/
ENV/
.env

# Packaging/build
build/
dist/
*.egg-info/
.eggs/

# Test/coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.coverage
.coverage.*
htmlcov/

# Logs
*.log

# Local/editor
.idea/
.vscode/

# Local data
*.sqlite3
